.title {
    width: 100%;
    text-align: center;
}
.title a {
    font-size: larger;
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    color: white;
    font-variant: small-caps;
    text-decoration: none;
}

mat-toolbar {
    height: 50px;
    background-color: rgb(7, 7, 61);
    color: white;
}
mat-icon {
    color: white;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

