.title {
    width: 100%;
    text-align: center;
}
mat-toolbar {
    height: 50px;
    background-color: rgb(7, 7, 61);
    color: white;
}
mat-icon {
    color: white;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}