.title {
    text-align: left;
    flex-grow: 100;
}
.title a {
    font-size: larger;
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    
    height: 60px;
    background-color: rgb(255, 255, 255);
}
mat-icon {
    color: black;
}

.username {
    font-size: medium;
}

.links a {
    text-decoration: none;
    color: rgb(53, 66, 168);
}
.links a:hover {
    text-decoration: underline;
}

.menu-item {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right {
    flex: 1 0 0;
    justify-content: right;
    text-align: right;
}

@media (max-width: 600px) {
    mat-toolbar {
        font-size: large;
    }
    .title a {
        font-size: x-large;
    }
}

