.title {
    width: 100%;
    text-align: center;
}
.title a {
    font-size: larger;
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
}

mat-toolbar {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
mat-icon {
    color: black;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

