<mat-toolbar color="secondary">
    <span class="menu-item" [matMenuTriggerFor]="menu">
        <button matIconButton class="toolbar-icon" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
    </span>

    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/timer">Timer</a>
        <a mat-menu-item routerLink="/packs">Packs</a>
        <a mat-menu-item routerLink="/community">Community</a>
        <a mat-menu-item routerLink="/trades">Trades</a>
    </mat-menu>

    <span class="title"><a routerLink="/">WikiCards</a></span>

    @if (firebase.username() === null) {
        <span class="menu-item right links">
            <a class="username" routerLink="/create_account">Create account</a>
            <span style="width: 20px"></span>
            <a class="username" routerLink="/sign_in">Log in</a>
        </span>
    } @else {
        <span class="menu-item right" [matMenuTriggerFor]="profile">
            <span class="username">{{ firebase.username() ?? 'Not logged in' }}</span>
            <button matIconButton class="toolbar-icon" aria-label="Person">
                <mat-icon>person</mat-icon>
            </button>
        </span>
    }

    <mat-menu #profile="matMenu">
        @if (firebase.username() === null) {
            <a mat-menu-item routerLink="/sign_in">Sign In</a>
        } @else {
            <a mat-menu-item [routerLink]="'/profile/' + firebase.username()">Profile</a>
            <a mat-menu-item [routerLink]="'/profile/' + firebase.username() + '/collection'">Collection</a>
            <button mat-menu-item (click)="firebase.claimDailyPack()">Claim Daily Pack</button>
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        }
    </mat-menu>
</mat-toolbar>