@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    padding-top: 40px;
}

.timer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 40px;
    background-color: rgb(7, 8, 10);
    border-radius: 36px;
}

#time {
    font-family: "Quantico", sans-serif;
    padding: 80px 40px;
    width: 240px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    border-radius: 14px;
}
@media (max-width: 600px) {
    #time {
        font-size: 2rem;
        letter-spacing: 0.08em;
        width: 50dvw;
        padding: 60px 35px;
    }
}

.timer-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.change-time {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-icon {
    color: white;
    transform: scale(1.8);
}

.goal-input {
    width: 60%;
}