@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.timer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 40px;
    background-color: rgb(7, 8, 10);
    border-radius: 36px;
}

#time {
    font-family: "Quantico", sans-serif;
    padding: 80px 50px;
    min-width: 280px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 3.5em;
    letter-spacing: 0.1em;
    border-radius: 14px;
}

.timer-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.change-time {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-icon {
    color: white;
    transform: scale(1.8);
}

.goal-input {
    width: 60%;
}