#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;

    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin: 0 40px 60px;
}

.timer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 40px;
    background-color: rgb(249, 249, 249);
    border: 1.5px solid rgb(226, 226, 226);
}

#time {
    padding: 70px 28px;
    width: 240px;
    text-align: center;
    background-color: white;
    border: 1.5px solid rgb(226, 226, 226);

    font-size: 2rem;
    letter-spacing: 0.1em;
}
@media (max-width: 600px) {
    #time {
        letter-spacing: 0.08em;
        padding: 64px 30px;
    }
}

.timer-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.change-time {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-icon {
    color: black;
    transform: scale(1.8);
}

.goal-div {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.goal-input {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid rgb(94, 94, 94);
    background-color: white;
}

.goal-add {
    position: absolute;
    font-weight: bold;
    top: -6px;
    right: -10px;
    background-color: rgb(209, 223, 240);
    border: 1.5px solid rgb(165, 176, 190);
    border-radius: 100%;
    cursor: pointer;
}
.goal-add:hover {
    background-color: rgb(192, 209, 228);
}

.goal {
    border: 1.5px solid rgb(209, 223, 240);
    background-color: rgb(245, 249, 254);
    padding: 12px 20px;
    min-width: 320px;
    max-width: 460px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    margin: 0;
    margin-bottom: 20px;
}

.completed-list {
    margin-bottom: 10px;
}

.goals-list {
    color: rgb(65, 115, 165);
    font-style: italic;
    max-height: 140px;
    overflow: auto;
}
.goals-list button {
    margin-left: 10px;
    float: right;
}
.goals-list li {
    padding: 6px 0;
}
.goals-list li p {
    margin: 0;
    max-width: 200px;
    float: left;
    word-wrap: break-word;
    text-wrap: wrap;
}
.goals-list li:hover {
    color: rgb(81, 137, 193);
    background-color: rgba(0, 0, 0, 0.02);
}

.section-header {
    border: 1.5px solid rgb(165, 176, 190);
    font-weight: bolder;
    font-size: large;
    background-color: rgb(209, 223, 240);
    padding: 6px 10px;
}

.claim {
    min-width: 200px;
    margin-top: 14px;
}