@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: calc(100vh - 50px);
}

.timer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;

    padding: 40px;
    background-color: rgb(169, 165, 221);
    border-radius: 20px;
}

#time {
    font-family: "Quantico", sans-serif;
    padding: 80px;
    width: 200px;
    text-align: center;
    background-color: white;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    border-radius: 40px;
}

.timer-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.change-time {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-icon {
    transform: scale(1.8);
}