<div id="content">
    <div class="timer">
        <div id="time">
            {{ displayTime() }}
        </div>
        <div class="timer-controls">
            <div class="change-time">
                <button matIconButton [disabled]="timerActive" id="timer-increment" 
                    (click)="incrementTimer()" aria-label="Add 5 minutes">
                    <mat-icon>arrow_drop_up</mat-icon>
                </button>
                <button matIconButton [disabled]="timerActive" id="timer-decrement" 
                    (click)="decrementTimer()" aria-label="Subtract 5 minutes">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>
            <button matIconButton [disabled]="timerActive && !paused" id="timer-begin" 
                (click)="beginTimer()" aria-label="Begin timer">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button matIconButton [disabled]="!timerActive || paused" id="timer-pause" 
                (click)="pauseTimer()" aria-label="Pause timer">
                <mat-icon>pause</mat-icon>
            </button>
            <button matIconButton [disabled]="!timerActive" id="timer-stop" 
                (click)="stopTimer()" aria-label="Stop timer">
                <mat-icon>stop</mat-icon>
            </button>
        </div>
    </div>

    <div class="goal">
        <div class="section-header">My Goals</div>
        <div>Write some goals for this session!</div>

        <div class="goal-div">
            <textarea class="goal-input" [(ngModel)]="goal" 
                name="text" rows="3" wrap="soft" style=" resize: none"
                placeholder="What do you want to do with your time?" [ngModelOptions]="{standalone: true}">
            </textarea>
            <button class="goal-add" (click)="addGoal()">+</button>
        </div>

        <ul class="goals-list">
            @for (goal of goals; track $index;) {
                <li>
                    <p>{{ goal }}</p>
                    <button (click)="removeGoal(goal)">Delete</button>
                    <button (click)="completeGoal(goal)">Complete!</button>
                </li>
            }
        </ul>

        <div class="section-header">Reward</div>
        <ul>
            @if (firebase.username()) {
                <li>You will earn {{ cardReward }} cards for this session!</li>
            } @else {
                <li>Log in/create an account to earn packs!</li>
            }

            <li style="margin-top: 10px;"><b>Completed Goals:</b></li>
            <ul class="completed-list">
                @for (goal of completed; track $index;) {
                    <li>
                        <p>{{ goal }}</p>
                        <button (click)="removeCompleted(goal)">Remove</button>
                    </li>
                } @empty {
                    <li>[ None ]</li>
                }
            </ul>

            @if (isPackAvailable()) {
                <button (click)="claimPack()" class="wiki-button claim">Claim Pack</button>
            } @else if (claimed) {
                <li><i>Pack claimed!</i></li>
            } @else {
                <li><i>Claim your pack once your timer ends!</i></li>
            }
        </ul>
    </div>
</div>
