.container {
    height: 92vh;
    overflow: auto;
}
.content {
    margin: 40px 80px;
    padding-bottom: 40px;
}
h1 {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-weight: normal;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cards a {
    color: black;
    text-decoration: none;
    width: 100%;
}
.cards mat-card {
    width: 200px;
    height: 300px;
    padding: 20px 24px;
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    transition: transform .3s ease-in-out;
}

.star-button {
    position: absolute;
    top: 0;
    right: 0;
}

.cards mat-card:hover {
    transform: translate(3px, -3px);
}

.cards mat-card img {
    max-height: 200px;
    max-width: 90%;
    object-fit: contain;
    margin: 14px auto;
    border-radius: 2px;
}

.cards mat-card-subtitle {
    font-weight: normal;
    font-size: small;
    font-style: italic;
}

.common {
    border: 4px solid rgb(142, 142, 142);
}
.uncommon {
    border: 4px solid rgb(8, 125, 8);
}
.rare {
    border: 4px solid rgb(52, 99, 209);
}
.epic {
    border: 4px solid rgb(164, 11, 164);
}
.legendary {
    border: 4px solid yellow;
}

mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 24px;
}

mat-card-content {
    overflow: auto;
    margin-bottom: 10px;
}

.load-button {
    margin: 0 auto;
    align-self: center;
    justify-content: center;
}