.content {
    margin: 40px 80px;
}
h1 {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-weight: normal;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    align-items: center;
}

.cards mat-card {
    width: 240px;
    height: 300px;
    padding: 10px 14px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cards mat-card img {
    max-height: 50%;
    max-width: 80%;
    object-fit: cover;
    margin: 14px auto;
    border-radius: 2px;
}

.common {
    border: 4px solid rgb(142, 142, 142);
}
.uncommon {
    border: 4px solid rgb(8, 125, 8);
}
.rare {
    border: 4px solid rgb(52, 99, 209);
}
.epic {
    border: 4px solid rgb(164, 11, 164);
}
.legendary {
    border: 4px solid yellow;
}

mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 24px;
}

mat-card-content {
    overflow: auto;
    margin-bottom: 10px;
}