<div class="container">
    <div class="content">
        <div class="content-header">
            <h1>My Collection</h1>
            <mat-button-toggle-group name="sortOrder" aria-label="Sort Order" [value]="selectedSort" (change)="changeSort($event.value)">
                <mat-button-toggle value="Rarity">Rarity</mat-button-toggle>
                <mat-button-toggle value="Date">Date</mat-button-toggle>
                <mat-button-toggle value="Star">Starred</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
        <div class="cards">
            @for (card of cards; track card.id) {
                <mat-card [attr.id]="card.id" [attr.class]="card.rarity" (click)="showFullCard(card)">
                    <button matIconButton class="star-button" (click)="card.starred ? unstarCard(card, $event) : starCard(card, $event)">
                        <mat-icon>{{ card.starred ? 'star' : 'star_outline' }}</mat-icon>
                    </button>
                    <div class="card-content">
                        <mat-card-title>{{ card.title }}</mat-card-title>
                        <img mat-card-image src="{{ card.thumbnail }}" alt="{{ card.title }}"/>
                        <mat-card-subtitle>[ Collected {{ card.created }} ]</mat-card-subtitle>
                    </div>
                </mat-card>
            } @empty {
                @if (loading) {
                    <p>Loading...</p>
                } @else {
                    <p>[ Empty ]</p>
                }
            }
        </div>
        @if (moreCards) {
            <button class="load-button" matButton="filled" (click)="loadCards()">Load More</button>
        }
    </div>
</div>

<app-full-card [(card)]="selectedCard" [(shown)]="selected" 
    [currUser]="true" [(cards)]="cards"></app-full-card>