.main {
    padding: 40px 60px;
    text-align: center;
}

.main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.main form input {
    margin-left: 4px;
}

.submit {
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    border: 1px solid skyblue;
    padding: 10px;
    margin: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.submit:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate(1px, 1px);
    background-color: aliceblue;
}
.submit:click {
    background-color: lightblue;
}