<div class="main">
    @if (signIn) {
        <h1 class="title">Log In</h1>
        <mat-divider></mat-divider>
        <form>
            <label for="email">
                <b>Email</b>
                <br>
                <input required id="email" type="text" placeholder="Enter your email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
            </label>
            <label for="password">
                <b>Password</b>
                <br>
                <input required id="password" type="password" placeholder="Enter your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
            </label>

            @if (!loading) {
                <button type="submit" class="submit" (click)="login()">Log in</button>
                <a class="swap" (click)="swapView()">Switch to create account</a>
            }
        </form>
    } @else {
        <h1 class="title">Create Account</h1>
        <mat-divider></mat-divider>
        <form>
            <label for="username">
                <b>Username</b>
                <br>
                <input id="username" type="text" placeholder="Enter your username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
            </label>
            <label for="email">
                <b>Email</b>
                <br>
                <input id="email" type="text" placeholder="Enter your email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
            </label>
            <label for="password">
                <b>Password</b>
                <br>
                <input id="password" type="password" placeholder="Enter your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
            </label>

            @if (!loading) {
                <button class="submit" (click)="signUp()">Create account</button>
                <a class="swap" (click)="swapView()">Switch to log in</a>
            }
        </form>
    }
</div>
