<div class="container">
    @if (binders()[0] === null && !loading) {
        <b>[ This binder is private or does not exist ]</b>
    } @else {
        <div class="header">
            <div class="row">
                @if (isEditing()) {
                    <div class="col">
                        <mat-form-field class="title">
                            <mat-label>Binder Title</mat-label>
                            <input [(ngModel)]="newBinderName" matInput>
                        </mat-form-field>

                        <div class="row"> 
                            <label for="color">
                                Binder Color
                                <input name="color" [(ngModel)]="newBinderColor" type="color"/>
                            </label>
                            <mat-checkbox [(ngModel)]="newBinderPrivacy">Private Binder</mat-checkbox>
                        </div>
                    </div>
                } @else {
                    <h1>{{ binders()[0]?.title ?? "Loading..." }}</h1>
                }

                @if (currUser()) {
                    @if (!isEditing()) {
                        <button matButton="filled" (click)="beginEditing()">Edit</button>
                    } @else {
                        <button matButton="filled" (click)="saveEdit()">Save</button>
                        <button matButton="filled" (click)="cancelEdit()">Cancel</button>
                        <button matButton="filled" color="red" (click)="deleteBinder()">Delete</button>
                    }
                }
            </div>
            <p><a [routerLink]="'/profile/' + binders()[0]?.username">{{ binders()[0]?.username }}</a>'s binder &nbsp;&nbsp;|&nbsp;&nbsp; Last updated {{ binders()[0]?.lastUpdated }}</p>
        </div>

        <div id="binder" [style.background-color]="binders()[0]?.color">
            <div class="page left">
                @for (card of leftPage; track $index) {
                    @if (card === null) {
                        <mat-card class="card-outline" (click)="swapCard({ index: $index })"></mat-card>
                    } @else {
                        <div class="card">
                            <div class="white-background"></div>
                            <mat-card [attr.id]="card.id" [attr.class]="card.rarity + ' ' + card.effect" 
                                (click)="isEditing() ? swapCard(card) : showFullCard(card, true)">

                                <mat-card-title>{{ card.title }}</mat-card-title>
                                <img mat-card-image src="{{ card.thumbnail }}" alt="{{ card.title }}"/>
                            </mat-card>
                        </div>
                    }
                }
            </div>

            <!-- disappears on smaller screen widths -->
            <div class="page right">
                @for (card of rightPage; track $index) {
                    @if (card === null) {
                        <mat-card class="card-outline" (click)="swapCard({ index: $index + 9 })"></mat-card>
                    } @else {
                        <div class="card">
                            <div class="white-background"></div>
                            <mat-card [attr.id]="card.id" [attr.class]="card.rarity + ' ' + card.effect" 
                                (click)="isEditing() ? swapCard(card) : showFullCard(card, true)">
                                <mat-card-title>{{ card.title }}</mat-card-title>
                                <img mat-card-image src="{{ card.thumbnail }}" alt="{{ card.title }}"/>
                            </mat-card>
                        </div>
                    }
                }
            </div>
        </div>


        <div class="page-change-mobile">
            @if (pageNum > 0) {
                <button (click)="pageChangeLeft(1)"><</button>
            }
            @if (pageHasCards(pageNum + 1) || isEditing()) {
                <button (click)="pageChangeRight(1)">></button>
            }
        </div>
        <div class="page-change">
            @if (pageNum > 0) {
                <button (click)="pageChangeLeft(2)"><</button>
            }
            @if (pageHasCards(pageNum + 2) || isEditing()) {
                <button (click)="pageChangeRight(2)">></button>
            }
        </div>
        <div class="page-change-mobile">
            [ Page {{ pageNum + 1 }} ]
        </div>
        <div class="page-change">
            [ Pages {{ pageNum + 1 }} - {{ pageNum + 2 }} ]
        </div>
    }
</div>

<app-full-card [(card)]="selectedCard" [(shown)]="selected" 
    [currUser]="firebase.username() === binders()[0]?.username" 
    [(cards)]="cards" [binderPage]="true"
    [(binders)]="binders"></app-full-card>