.content {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pack-scroll {
    width: 100vw;
    padding: 0 32vw;
    overflow: auto hidden;

    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    gap: 48px;
}
.pack-scroll::-webkit-scrollbar {
    display: none;
}
.pack {
    padding: 0 20px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.4s ease-in-out;
}
.pack:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1.0;
    cursor: pointer;
}
.pack img {
    width: 32vw;
}


.buy-more {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    scroll-snap-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    padding: 24px;
    border-radius: 10px;
}
.buy-more mat-icon {
    margin: 0 auto;
    text-decoration: none;
}
.buy-more p {
    min-width: 140px;
}
.buy-more:hover {
    background-color: rgb(245, 252, 255);
}