.content {
    padding: 10px 50px;
    width: calc(100vw - 100px);
}

.title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-weight: normal;
}

.scroll-container {
    width: calc(100vw - 50px);
    height: 80vh;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
}

.pack-scroll {
    width: 100vw;
    padding: 10px calc(50% - 10vw);

    display: flex;
    align-items: center;
    gap: 2vw;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
.pack {
    position: relative;
    padding: 0 20px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.4s ease-in-out;
}
.pack:hover {
    transform: scale(1.04);
    opacity: 1.0;
    cursor: pointer;
}
.pack img {
    z-index: 1;
    max-width: 32vw;
    max-height: 36vh;
    transition: max-height 0.4s ease-in-out;
}

@keyframes hue-shift {
    to { filter: blur(10px) hue-rotate(360deg) }
}
.active::before {
    content: "";
    position: absolute;
    
    width: 110%;
    height: 110%;
    z-index: 0;
    pointer-events: none;
    background: radial-gradient(circle closest-side at center center, #ff000070, rgba(255, 255, 255, 0));
    animation: hue-shift 12s ease infinite alternate;
}

.active img {
    max-height: 46vh;
}

.pack-label {
    position: absolute;
    z-index: 2;
    border: 1.5px solid rgb(17, 43, 77);
    font-weight: bolder;
    font-size: large;
    background-color: rgba(11, 55, 108, 0.9);
    color: white;

    padding: 8px 10px;
    text-align: right;
    top: 14px;
    right: 8%;
}


.buy-more {
    color: rgb(46, 46, 184);
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    left: 50px;
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px 14px;
}
.buy-more:hover {
    cursor: pointer;
    background-color: rgb(245, 252, 255);
    text-decoration: underline;
}

.buy-packs {
    z-index: 4;
    position: fixed;
    background-color: rgba(248, 248, 248, 0.5);
    backdrop-filter: blur(8px);

    border: 1.5px solid rgb(66, 66, 66);
    padding: 24px;
    width: 26vw;
    top: 180px;
    bottom: 110px;
    left: 50px;
}
.balance {
    padding: 0;
    margin: 0;
}
.hidden {
    display: none;
}
.exit-button {
    position: absolute;
    border: 1.5px solid rgb(79, 79, 79);
    background-color: white;
    font-weight: bold;
    font-size: medium;
    
    top: -10px;
    right: -10px;
}
.exit-button:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}

.pack-buy-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}
.pack-buy-buttons button {
    font-size: medium;
    font-weight: bold;
    border: 1.5px solid rgb(120, 120, 194);
    background-color: rgb(221, 225, 245);
    padding: 8px;
}
.pack-buy-buttons button:hover {
    background-color: rgb(230, 233, 248);
    cursor: pointer;
}
.cost {
    font-weight: normal;
    font-size: small;
    margin-top: 6px;
}