<div class="content">
    @if (firebase.username() === null && loading) {
        <div>
            <p>Loading...</p>
        </div>
    } @else if (firebase.username() == null && !loading) {
        <div>
            <p>[ Not logged in ]</p>
        </div>
    } @else {
        <div class="pack-scroll">
            @for (pack of packs; track pack.id) {
                <div (click)="redeemPack(pack.id)" class="pack">
                    <img src="card-pack.png"/>
                    <p>[ {{ pack.cards }} cards ]</p>
                    <p><i>Created {{ pack.created}}</i></p>
                </div>
            } @empty {
                @if (loading) {
                    <div>
                        <p>Loading...</p>
                    </div>
                }
            }

            <a routerLink="/buy_packs" class="buy-more">
                <mat-icon aria-hidden="false" aria-label="Buy More">add_circle</mat-icon>
                <p>Buy More Packs</p>
            </a>
        </div>
    }
</div>