.container {
    margin: 30px 50px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.profiles-container {
    overflow: auto hidden;

}
.profiles {
    padding: 20px;
    display: flex;
    gap: 30px;
}
.profile {
    width: 12dvw;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile i {
    font-size: smaller;
    color: black;
    text-decoration: none;
}
.profile img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border: 2px solid aqua;
    background-color: white;
    border-radius: 100px;
}


.packs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
    padding-bottom: 60px;
}
.collected {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collected h4 {
    color: rgb(14, 14, 89);
    font-style: italic;
    margin: 0;
}

.cards {
    overflow: auto hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.cards::-webkit-scrollbar { 
    display: none;
}
.card {
    position: relative;
    overflow: hidden;
    min-width: 160px;
    width: 160px;
    height: 240px;
    background-color: white;

    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.2);

    transition: transform 0.5s ease-in-out;
}
.card:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
}
.card img {
    object-fit: contain;
    padding: 10px;
    max-height: 70%;
}