<div class="container">
    <div class="content-header">
        <h1>Community</h1>
    </div>
    <mat-divider></mat-divider>

    <div class="navigate">
        <p [class.active]="tab === 'users'" (click)="showTab('users')">Users</p>
        <p [class.active]="tab === 'binders'" (click)="showTab('binders')">Binders</p>
        <p [class.active]="tab === 'packs'" (click)="showTab('packs')">Recent Packs</p>
    </div>

    <div [class.hidden]="tab !== 'users'">
        <div class="profiles">
            @for (profile of profiles; track profile.username) {
                <a [routerLink]="'/profile/' + profile.username">
                    <div class="profile">
                        <img src="{{ profile.pfp ?? 'default-pfp.png' }}"/>
                        <div class="profile-text">
                            <p>{{ profile.username }}</p>
                            <p class="join-date">Joined {{ profile.joined.toDateString() }}</p>
                        </div>
                    </div>
                </a>
            } @empty {
                <span>Loading...</span>
            }
        </div>
    </div>

    <div [class.hidden]="tab !== 'binders'">
        <div class="binders">
            @for (binder of binders; track binder.id) {
                <a class="binder" [routerLink]="'/binder/' + binder.id">
                    <div [style.background-color]="binder.color">
                        <img src="binder.png"/>
                    </div>
                    <h2>{{ binder.title }}</h2>
                    <h4>Created by <a [routerLink]="'profile/' + binder.username">{{ binder.username }}</a></h4>
                    <div><i>Last updated {{ timeSince(binder.lastUpdated.toDateString()) }} ago</i></div>
                </a>
            } @empty {
                <div>Loading...</div>
            }
        </div>
    </div>

    <div [class.hidden]="tab !== 'packs'">
        <div class="packs">
            @for (pack of cards; track pack[0].id) {
                <div class="collected">
                    <h4><a [routerLink]="'/profile/' + pack[0].username">{{ pack[0].username }}</a> collected {{ pack.length }} cards <span class="pack-time">{{ timeSince(pack[0].created) }} ago</span></h4>
                    <div class="cards">
                        @for (card of pack; track card.id) {
                            <div [attr.class]="'card ' + card.rarity + ' ' + card.effect" (click)="showFullCard(card)">
                                <h3>{{ card.title }}</h3>
                                <img src="{{ card.thumbnail ?? 'default-card.png' }}"/>
                            </div>
                        }
                    </div>
                </div>
            } @empty {
                <span>Loading...</span>
            }
            
            @if (lastCard !== null) {
                <button class="load-more" (click)="loadRecentCards()">Load More</button>
            }
        </div>
    </div>
</div>

<app-full-card [(card)]="selectedCard" [(shown)]="selected" 
    [currUser]="selectedCard?.username === firebase.username()" [(cards)]="cards"></app-full-card>