.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.overlay mat-card {
    position: relative;
    width: 40dvw;
    min-width: 500px;
    height: 85dvh;
    padding: 30px;
    background-color: white;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.overlay mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 1.5rem;
    padding-bottom: 4px;
}

mat-card img {
    object-fit: contain;
    max-height: 34vh;
    max-width: 100%;
    margin: 10px auto;
}

.overlay mat-card-content {
    white-space: pre-line;
    height: 32vh;
    overflow: auto;
}
.overlay mat-card-footer {
    margin-top: auto;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
}