.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.overlay mat-card {
    position: relative;
    min-width: 38dvw;
    width: 480px;
    max-width: 76dvw;

    max-height: 86dvh;
    height: 840px;
    padding: 24px 30px;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.overlay mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 1.7rem;
    margin: 0;
    margin-right: 10px;
}
.created {
    font-size: 0.8rem;
    line-height: normal;
    color: rgb(122, 122, 122);
}
.created a {
    text-decoration: none;
}
.created a:hover {
    text-decoration: underline;
}

mat-card img {
    object-fit: contain;
    max-height: 32vh;
    max-width: 100%;
    margin: 10px auto;
}

.overlay mat-card-content {
    white-space: pre-line;
    flex-grow: 10;
    overflow: auto;
}

.actions {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.effect-button {
    overflow: hidden;
    position: relative;
    padding: 6px 8px;
    border: 2px inset rgba(0, 0, 0, 0.4);
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
}