.main {
    margin: 6vh 8vw;
    text-align: center;
}

.balance h2 {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    margin-bottom: 40px;
}

.packs { 
    display: flex;
    justify-content: center;
    gap: 20px;
}

.packs button {
    border: 2px solid rgb(19, 19, 67);
    border-radius: 4px;
    padding: 20px;
    color: white;
    background-color: rgb(22, 22, 56);
}
.packs button:hover {
    cursor: pointer;
    background-color: rgb(30, 30, 69);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(2px, -2px);
}

.back {
    margin-top: 40px;
}