#content {
    height: calc(100% - 50px);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(172, 172, 193);
}

#parent {
    overflow: auto;
}

#cards {
    margin: auto;
    width: 400px;
    height: fit-content;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 20px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.cards::-webkit-scrollbar {
    display: none;
}
.cards::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.cards::-webkit-scrollbar-track {
    background: transparent;
}

.card {
    scroll-snap-align: start;
    flex-shrink: 0;

    width: 400px;
    height: 500px;
    padding: 40px 20px;
    margin-right: 80px;
    border-radius: 10px;

    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    max-height: 250px;
    max-width: 90%;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 4px;
}

.common {
    border: 4px solid rgb(142, 142, 142);
}
.uncommon {
    border: 4px solid rgb(8, 125, 8);
}
.rare {
    border: 4px solid rgb(42, 42, 160);
}
.epic {
    border: 4px solid rgb(164, 11, 164);
}
.legendary {
    border: 4px solid yellow;
}