<div id="content">
    <div id="cards">
        <div (click)="getRandomWikiPages()" id="pack">
            LOAD 5 CARDS
        </div>

        @for (page of pages; track $index) {
            <mat-card class="card">
                <mat-card-title>{{ page.title }}</mat-card-title>
                <mat-card-subtitle><a target="_blank" [href]="page.link">Wiki Link</a></mat-card-subtitle>
                <img mat-card-image src="{{ page.thumbnail }}" alt="{{ page.title }}"/>
                <mat-card-content>
                    <ul>
                        @for (item of page.desc; track $index) {
                            <li>{{ item }}</li>
                        }
                    </ul>
                </mat-card-content>
            </mat-card>
        } @empty {
            <div>[ Empty ]</div>
        }
    </div>
</div>