#content {
    height: calc(100% - 50px);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(182, 182, 211);
}

.pack-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    height: 40px;
}

.reveal-view {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

#parent {
    overflow: auto;
}

#cards {
    margin: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 90vw;
}

.card {
    z-index: 0;
    flex-shrink: 0;

    width: 400px;
    height: 500px;
    padding: 40px 20px;
    border-radius: 4px;

    background: #eee;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);

    transition: transform 0.25s cubic-bezier(.22,.61,.36,1), rotate 0.25s cubic-bezier(.22,.61,.36,1); /* smooth */
    touch-action: none;
    will-change: transform;
}

.card img {
    max-height: 250px;
    max-width: 80%;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 2px;
}

.card-button {
    z-index: 1;
}

.common {
    border: 4px solid rgb(142, 142, 142);
}
.uncommon {
    border: 4px solid rgb(8, 125, 8);
}
.rare {
    border: 4px solid rgb(42, 42, 160);
}
.epic {
    border: 4px solid rgb(164, 11, 164);
}
.legendary {
    border: 4px solid yellow;
}

mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
}

mat-card-content {
    overflow: auto;
    margin-bottom: 10px;
}

mat-spinner {
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

.claim-button {
    width: 100px;
    margin: 0 auto;
    padding: 4px; 
}