#content {
    height: calc(100% - 50px);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.sealed-view {
    margin: 40px 0;
    text-align: center;
}
.sealed-view:hover {
    cursor: pointer;
}

@keyframes image-oscillate {
    from { 
        transform: scale(1); 
        background-color: rgba(255, 230, 0, 0.3);
    }
    to { 
        transform: scale(1.1); 
        background-color: rgba(255, 0, 230, 0.3);
    }
}
@keyframes rotate {
    from { transform: rotate(-1deg); }
    to { transform: rotate(1deg); }
}
.image-group {
    max-height: 60vh;
    max-width: 60vw;
    position: relative;
}
.image-group .bg {
    z-index: 0;
    position: absolute;
    margin: 0 auto;
    padding-top: 10px;

    filter: blur(60px);
    border-radius: 200px;
    width: 100%;
    height: 100%;
    animation: image-oscillate 3s ease-in-out infinite alternate-reverse;
}
.pack-image {
    max-width: 100%;
    max-height: 60vh;
    object-fit: contain;
    position: relative;
    animation: rotate 2s ease-in-out infinite alternate-reverse;
}

.open-button {
    z-index: 3;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-weight: bold;
    padding: 20px;
    margin: 40px auto;
    border-radius: 4px;
    height: 40px;
}
.open-button:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.reveal-view {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

#parent {
    overflow: auto;
}

#cards {
    margin: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 90dvw;
}

.card {
    position: relative;
    overflow: hidden;
    
    z-index: 0;
    flex-shrink: 0;

    width: 70dvw;
    max-width: 360px;
    height: 500px;
    padding: 40px 20px;
    border-radius: 4px;

    background: white;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);

    transition: transform 0.25s cubic-bezier(.22,.61,.36,1), rotate 0.25s cubic-bezier(.22,.61,.36,1); /* smooth */
    touch-action: none;
    will-change: transform;
}

#mobile-swipe-buttons {
    display: none;
}
@media (max-width: 600px) {
    .card {
        height: 45dvh;
    }
    #cards {
        flex-direction: column;
    }
    #mobile-swipe-buttons {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }
    .non-mobile {
        display: none;
    }
}

.card img {
    max-height: 40%;
    max-width: 80%;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 2px;
}

.card-button {
    z-index: 2;
}

mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 24px;
}

mat-card-content {
    overflow: auto;
    margin-bottom: 10px;
}

mat-spinner {
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

.summary-button {
    width: fit-content;
    margin: 0 auto 40px;
    padding: 8px 20px; 
}

.summary-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 10px 6vw;
    overflow: auto;

}
.summary-view mat-card {
    width: 240px;
    height: 300px;
    padding: 10px 14px;
}

.summary-view img {
    max-height: 50%;
}

.summary-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    align-items: center;
}

.claim-button {
    width: fit-content;
    padding: 10px 18px;
}

.star-button {
    position: absolute;
    top: 10px;
    right: 10px;
}