.container {
    margin: 24px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 92vw;
    height: calc(100dvh - 110px);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.header h3 {
    font-style: italic;
    font-weight: normal;
}
.header img {
    height: 20vh;
    min-height: 100px;
    aspect-ratio: 1;
    border-radius: 100px;
    object-fit: contain;

    background-color: aliceblue;
    border: 2px solid darkblue;
}


.divider {
    height: 0px;
    border: 1px solid rgba(99, 99, 99, 0.4);
}

.card-container {
    margin: 20px 0;
    overflow: auto hidden;
}

.cards {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 30px;
    height: 40%;
}

.cards mat-card {
    position: relative;
    overflow: hidden;

    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;

    justify-content: center;
    align-items: center;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.cards mat-card:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.2);
}

.cards mat-card img {
    object-fit: cover;
    max-height: 26dvh;
}
.cards mat-card-title {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
}

@media (max-width: 720px) {
    .header img {
        height: 16dvh;
    }
}