/* You can add global styles to this file, and also import other style files */
:root {
    --card-border-width: 5px;
}

* {
    font-family: sans-serif;
}

html, body { 
    height: 100%;
    background-color: rgb(247, 247, 247);
}
body { margin: 0; }



.common {
    border: var(--card-border-width) solid rgb(142, 142, 142);
}
.uncommon {
    border: var(--card-border-width) solid rgb(8, 125, 8);
}
.rare {
    border: var(--card-border-width) solid rgb(52, 99, 209);
}
.epic {
    border: var(--card-border-width) solid rgb(164, 11, 164);
}
.legendary {
    border: var(--card-border-width) solid yellow;
}


@keyframes glowPulse {
  0% {
    opacity: .3;
    filter: blur(0.2px);
  }
  50% {
    opacity: .8;
    filter: blur(2px);
  }
  100% {
    opacity: .3;
    filter: blur(0.2px);
  }
}

.red {
    background-color: rgb(255, 122, 122) !important;
}
.red::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    ),
    repeating-linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    );

    mix-blend-mode: screen;
    pointer-events: none;
    animation: glowPulse 4s ease-in-out infinite;
}

.blue {
    background-color: rgb(160, 185, 255) !important;
}
.blue::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    ),
    repeating-linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    );

    mix-blend-mode: screen;
    pointer-events: none;
    animation: glowPulse 4s ease-in-out infinite;
}
.green {
    background-color: rgb(126, 232, 110) !important;
}
.green::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    ),
    repeating-linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0.25) 0,
      transparent 30px
    );

    mix-blend-mode: screen;
    pointer-events: none;
    animation: glowPulse 4s ease-in-out infinite;
}

@keyframes sheen {
  from {
    transform: translateX(-40%) rotate(45deg);
  }
  to {
    transform: translateX(140%) rotate(45deg);
  }
}
.silver {
    --dark: #5c5f66;
    --mid: #cfd1d7;
    --light: #f2f2f2;
    isolation: isolate;

    /* Base metal gradient */
    background:
        linear-gradient(
            135deg,
            var(--dark) 0%,
            var(--mid) 25%,
            var(--light) 50%,
            var(--mid) 75%,
            var(--dark) 100%
        ) !important;
}
.silver::before {
    content: "";
    position: absolute;
    inset: -40%;
    background:
        linear-gradient(
        120deg,
        transparent 20%,
        rgba(255,255,255,.35) 30%,
        rgba(255,255,255,.05) 45%,
        transparent 40%
    );
    filter: blur(8px);
    transform: rotate(25deg);
    animation: sheen 6s linear infinite alternate-reverse;
    mix-blend-mode: screen;
    pointer-events: none;
}
.silver img {
    mix-blend-mode:multiply;
}

.gold {
    --dark: #8a6f0c;
    --mid: #e5d73e;
    --light: #fbf0b3;

    background:
        linear-gradient(
            135deg,
            var(--dark) 0%,
            var(--mid) 25%,
            var(--light) 50%,
            var(--mid) 75%,
            var(--dark) 100%
        ) !important;
}
.gold::before {
    content: "";
    position: absolute;
    inset: -40%;
    background:
        linear-gradient(
        120deg,
        transparent 20%,
        rgba(210, 210, 210, 0.35) 30%,
        rgba(255,255,255,.05) 45%,
        transparent 30%
    );
    filter: blur(8px);
    transform: rotate(25deg);
    animation: sheen 6s linear infinite alternate-reverse;
    mix-blend-mode: screen;
    pointer-events: none;
}
.gold img {
    mix-blend-mode:multiply;
}

.negative {
    overflow: hidden;
    isolation: isolate;
    background-color: black !important;
    color: white;
}
@keyframes negativeSweep {
  from {
    transform: translateX(-70%) rotate(25deg);
  }
  to {
    transform: translateX(80%) rotate(25deg);
  }
}
.negative::after {
  content: "";
  position: absolute;
  inset: -40%;

  background:
    linear-gradient(
      110deg,
      transparent 30%,
      rgba(255,255,255,.35) 45%,
      transparent 60%
    );

  transform: rotate(25deg);
  animation: negativeSweep 6s linear infinite;
  mix-blend-mode: difference;
  opacity: .5;
  pointer-events: none;
}

.negative img {
    filter: invert();
}


@keyframes holo-shine {
    0% {
        background-size: 280px;
        text-shadow: 2px 2px 4px rgb(192, 254, 255);
    }
    100% {
        background-size: 550px;
        text-shadow: -2px -2px 4px rgb(192, 254, 255);
    }
}


.holo {
    background-image: url("/holo.avif");
    background:
        linear-gradient(
            120deg,
            #ff004c,
            #ffea00,
            #00ffd5,
            #6a00ff,
            #ff004c
        );
    animation: polyShift 8s linear infinite alternate-reverse;
    mix-blend-mode:multiply;
}

@keyframes polyShift {
  0% {
    background-position: 0% 50%, 40;
    filter: hue-rotate(30deg);
  }
  100% {
    background-position: 200% -50%;
    filter: hue-rotate(-80deg);
  }
}
@keyframes polySheen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.holo::before {
    content: "";
    position: absolute;
    inset: -30%;

    background:
        linear-gradient(
            110deg,
            transparent 35%,
            rgba(255,255,255,.5) 45%,
            transparent 60%
        ),
        repeating-radial-gradient(
            circle at 20% 30%,
            rgba(255,255,255,.25) 0,
            rgba(255,255,255,.25) 1px,
            transparent 4px
        );

    animation: polySheen 14s linear infinite;
    mix-blend-mode: overlay;
    pointer-events: none;
}
.holo img {
    mix-blend-mode: multiply;
}